.erros > p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #FFF;
  background-color: #ff4500;
  padding: 10px 25px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.botoes{
  text-align: center;
}

button{
  min-width: 40%;
}
