.info_situacao_turma{
    width: 100%;
    height: 80%;
    margin-top: 2%;
}

.info_situacao_turma .topo{
    display: flex;
    flex-direction: row;
}

.info_situacao_turma .topo .coluna3{
    display: flex;
    flex-direction: row; 
    justify-content: right;
}

.coluna1{
    width: 100%; 
}

.coluna2{
    width: 100%; 
}

.coluna3{
    width: 100%; 
}

.modal_corpo form{
    display: flex;
    flex-direction: column; 
    justify-content: right;
}

h1 {
    text-align: center; 
}

#novo_situacao_turma{
    margin: 1%;
}


